        body {
            font-family: Arial, sans-serif;
            background-color: #ee9a58;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .login-container input {
            width: 92.8%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
		/* Color Boton */
        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #ee9a58;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
		/* Color Boton Flotar */
        .login-container button:hover {
            background-color: #45a049;
			color: black;
        }
		
		/* Asegura que el fondo cubra toda la pantalla y se ajuste bien */
		body {
			margin: 0;
			padding: 0;
			height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
			background-image: url('../image/fondo.jpg');
			background-size: cover; /* La imagen cubre toda el área sin distorsionarse */
			background-position: center; /* Centra la imagen */
			background-attachment: fixed; /* La imagen no se mueve cuando se hace scroll */
		}		